{
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"quotes": [2, "single"],
		"func-names": [2],
		"block-scoped-var": [2],
		"func-style": [2, "declaration"],
		"space-in-brackets": [1, "always"],
		"max-depth": [2, 2],
		"max-params": [2, 3],
		"max-statements": [1, 30],
		"no-process-exit": [0],
		"no-plusplus": [2],
		"max-len": [1, 80, 4],
		"complexity": [1, 10]
	}
}
